// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$speed-off:#bbbbbb;
$speed-idle:#5c5c5c;
$speed-slow:#006bb9;
$speed-normal:#009f00;
$speed-fast:#da8500;
$speed-speeding:#bd0d0d;

span.speed-off{
    background:$speed-off;
    padding:0 10px;
}

span.speed-idle{
    background:$speed-idle;
    padding:0 10px;
}

span.speed-slow{
    background:$speed-slow;
    padding:0 10px;
}

span.speed-normal{
    background:$speed-normal;
    padding:0 10px;
}

span.speed-fast{
    background:$speed-fast;
    padding:0 10px;
}

span.speed-speeding{
    background:$speed-speeding;
    padding:0 10px;
}

span.speed-regend{
    background:#ffffff;
    padding:0 10px;
}

.gm-style-iw{
    width:400px !important;font-weight:300;font-size:13px
}

.detail-address{
    margin:5px 0 10px 0;font-size:12px;line-height:1.4;color:#999
}

.pip-container{
    width:400px;
}

.pip-container video{
    position: relative;
    height: auto;
}

.pip-container img{
    width:276px;
}

#video-selector a.selected {
    background:#009f00;
}

#video-list video {
    border:2px solid #999;
    width:100%;
    min-height:220px;
    z-index:0;
}

video.backward-layer{
    border:2px solid #999;
    width:100%;
    min-height:220px;
    z-index:0;
}

video.forward-layer{
    position:absolute;
    border:1px solid #000;
    width:140px !important;
    max-height:100px !important;
    z-index:10;
    right:-10px;
    margin-top:-6px;
    opacity:.9;
    -webkit-box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.3);
    box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.3);
}

img.backward-layer{
    border:2px solid #999;
    z-index:0
}

img.forward-layer{
    position:absolute;
    border:1px solid #000;
    width:130px !important;
    z-index:10;
    right:-10px;
    margin-top:0px;
    opacity:.9;
    -webkit-box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.3);
    box-shadow: -1px 1px 3px 1px rgba(0,0,0,0.3);
}

.gm-style-iw strong{
    display:block;
    margin-bottom:5px;
    font-size:14px;
    letter-spacing:1
}

.gm-style-iw span{
    display:block;
    margin-bottom:3px;
    padding-bottom:2px;
    border-bottom:1px dotted #cfcfcf;
    font-size:12px
}

.photos{
    float:left;
    display:block;
    margin-right:10px;
    width:120px;
    height:95px;
    background:url('noimg.jpg') 50% 40% no-repeat;
    background-size:60%;
    border:1px solid #ccc
}

.photos img{
    width:120px;
    height:95px
}

.photos div{
    position:absolute;
    top:102px;
    width:120px;
    text-align:center
}

.photos div button{
    padding:0 3px;
}
